---
import themeConfig from '@theme-config'
import { Link, DarkMode } from 'accessible-astro-components'

import { Icon } from 'astro-icon/components'

const currentPathname = Astro.url.pathname

const isCurrentPage = (href: string): boolean => {
  if (href === '/') {
    return currentPathname === '/'
  }

  return currentPathname.startsWith(href)
}
---

<ul class="menu">
  {
    themeConfig.navigation.items.map((item) => (
      <li class={`menu-item ${item.type === 'dropdown' ? 'has-dropdown' : ''}`}>
        {item.type === 'dropdown' ? (
          <button aria-haspopup="true" aria-expanded="false">
            {item.label}
            <Icon aria-hidden="true" name="lucide:chevron-down" size="24" />
          </button>
        ) : !item.type || item.type === 'link' ? (
          <Link
            href={item.href}
            isExternal={item.external ?? false}
            hideIcon={!!item.icon}
            class={isCurrentPage(item.href) ? 'is-active' : undefined}
            aria-current={isCurrentPage(item.href) ? 'page' : undefined}
          >
            {item.icon ? (
              <>
                <Icon aria-hidden="true" name={item.icon} size="24" />
                <span class="sr-only">{item.label}</span>
              </>
            ) : (
              item.label
            )}
          </Link>
        ) : null}
        {item.type === 'dropdown' && (
          <ul class="dropdown-menu">
            {item.items.map((subItem) => (
              <li class="submenu-item">
                <Link
                  href={subItem.href}
                  isExternal={subItem.external ?? false}
                  class={isCurrentPage(subItem.href) ? 'is-active' : undefined}
                  aria-current={isCurrentPage(subItem.href) ? 'page' : undefined}
                >
                  {subItem.label}
                </Link>
              </li>
            ))}
          </ul>
        )}
      </li>
    ))
  }
  {
    themeConfig.navigation.darkmode && (
      <li class="menu-item type-icon animate-rotate">
        <DarkMode>
          <Icon aria-hidden="true" name="lucide:moon" slot="light" />
          <Icon aria-hidden="true" name="lucide:sun" slot="dark" />
        </DarkMode>
      </li>
    )
  }

</ul>
